
<% include head %>



<% var title = 'Mon Profil' %>

<h1>Yo c'est ton profil</h1>


<h2>ton mail : <%= email%></h2>
<h2>ton nom : <%= nom%></h2>
<h2>ton prenom : <%= prenom%></h2>
<h2>ta photo : </h2> <img src="<%= profilepic%>" width="50" height="50" value="<%= profilepic%>"/>
<h2>ta couleur : <input type="color" id="couleur" name="couleur" value="<%= couleur%>"></h2>

<p>
  se deconnecter <a href="/logout">/logout</a>
</p>
<p>
   supprimer mon compte <a href="/">/delete</a>
</p>

<p>
   dessiner <a href="/paint">/paint</a>
</p>

<% include foot %>
